body {
  background: url("./assets/img/diagonal_striped_brick.png");
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#app img {
  height: 600px;
  margin: 0 auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#app img:hover {
  -webkit-filter: none;
  filter: none;
  cursor: pointer;
}

.circles {
  margin-top: 50px;
}
