<template>
  <div class="circle" :style="border">
  </div>
</template>

<script>
  export default {
    name: 'CircleComponent',
    props: {
      border: String
    }
  }
</script>

<style scoped>
  .circle {
    border: .75em solid red;
    width: 150px;
	   height: 150px;
    display: inline-block;
	   border-right-color: transparent !important;
    border-radius: 50%;

    -webkit-animation: spin 2s linear infinite;
  	-moz-animation: spin 2s linear infinite;
  	-ms-animation: spin 2s linear infinite;
  	-o-animation: spin 2s linear infinite;
  	animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
  	100% { -webkit-transform: rotate(360deg); }
  }

  @-moz-keyframes spin {
  	100% { -moz-transform: rotate(360deg); }
  }

  @-o-keyframes spin {
  	100% { -o-transform: rotate(360deg); }
  }

  @keyframes spin {
  	100% { transform: rotate(360deg); }
  }

  .circle:hover {
    -webkit-animation: spin .75s linear infinite;
  	-moz-animation: spin .75s linear infinite;
  	-ms-animation: spin .75s linear infinite;
  	-o-animation: spin .75s linear infinite;
  	animation: spin .75s linear infinite;
    border-width: 5px;
  }
</style>
