<template>
<div id="app">
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
          <img src="./assets/img/jon.png" id="main" />
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="circles">
          <CircleComponent border="border-color: pink" />
          <CircleComponent />
        </div>
      </div>
    </div>
  </div>


</div>
</template>
<script>
import CircleComponent from './components/circle.vue'

export default {
  name: 'app',
  components: {
    CircleComponent
  }

}
</script>
